.App {
  height: 100%;
  .Logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PriceResult{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .PriceBox{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .Container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .PriceLabel{
          margin-top: 1rem;
          font-size: 1.5rem;
        }

        .PriceValue{
          font-size: 5rem;
        }
      }
      
    }
  }
}